<body style= "background-color:#d4e3e5;">
<h1>Company Spreadsheet</h1>
<p>I will contain the spreadsheet view for cadet schedules</p>
<style type="text/css">
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#d4e3e5;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#ffffff;}
</style>

    <table class="tftable" border="1">
        <thead>
            <tr>
                <th>Cadet Name</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th colspan = 3>Actions</th>
            </tr>
        </thead>

        <tbody>
            
            <tr>
                <% @cadets.each do |cadet| %>
                <td><%= cadet.F_NAME %> <%= cadet.L_NAME %> </td>
                <td><%= cadet.monday %> </td>
                <td><%= cadet.tuesday %> </td>
                <td><%= cadet.wednesday %> </td>
                <td><%= cadet.thursday %> </td>
                <td><%= cadet.friday %> </td>
                <td> <%= link_to 'Show', cadet_path(cadet) %> </td>
                <td> <%= link_to 'Edit', edit_cadet_path(cadet) %> </td>
                <td> <%= button_to 'Delete', cadet_path(cadet), method: :delete, data: { confirm: "Are you sure?"} %> </td>
            </tr>
            <% end %>
        </tbody> 
    </table>

    <table class="tftable" border="1">
    <tbody>

        <thead>
            <tr>
                <th>Times</th>
                <th>Sophomore</th>
                <th>Junior</th>
                <th>Senior</th>
                <th colspan = 3>Actions</th>
            </tr>
            <tr>
               <th id="M0530">0530</th>
            </tr>
            <tr>
               <th id="M0700">0700</th>
            </tr>
            <tr>
               <th id="M0800">0800</th>
            </tr>
            <tr>  
               <th id="M0900">0900</th>
            </tr>
            <tr>
               <th id="M1000">1000</th>
            </tr>
            <tr>
               <th id="M1100">1100</th>
            </tr>
            <tr>
               <th id="M1200">1200</th>
            </tr>
            <tr>
               <th id="M1300">1300</th>
            </tr>
            <tr>
               <th id="M1400">1400</th>
            </tr>
            <tr>
               <th id="M1530">1500</th>
            </tr>
            <tr>
               <th id="M1600">1600</th>
            </tr>
            <tr>
               <th id="M1700">1700</th>
            </tr>
            <tr>
               <th id="M1800">1800</th>
            </tr>
            <tr>
               <th id="M1900">1900</th>
            </tr>
            <tr>
               <th id="M2000">2000</th>
            </tr>
            <tr>
               <th id="M2100">2100</th>
            </tr>
            <tr>
               <th id="M2200">2200</th>
            </tr>
             
        </thead>

     </tbody>   

        <tbody>
            
            <tr>
                <td> Display an array of times </td>
                <td> 1</td>
                <td> 2</td>
                <td> 3</td>
                <td> 4</td>
                <td> 5</td>
                <td> 6</td>
            </tr>
        </tbody> 
    </table>

    <p>
    <%= link_to 'Add new cadet', new_cadet_path %>
    </p>
</body>