<h1> Guard Schedule </h1>


<p><strong> CWID: </strong> <%= @cadet.CWID %> </p>
<p><strong> F_NAME: </strong> <%= @cadet.F_NAME %> </p>
<p><strong> L_NAME: </strong> <%= @cadet.L_NAME %> </p>
<p><strong> EMAIL: </strong> <%= @cadet.EMAIL %> </p> 
<p><strong> RANK_ID: </strong> <%= @cadet.RANK_ID %> </p>